---
layout: default
---
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container is-fluid">
            <h1 class="title">
                {{ page.title }}
            </h1>
            <h2 class="subtitle">
                {{ page.description }}
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container is-fluid">
        <div class="content">
            {{ content }}
        </div>
    </div>
</section>
{% if site.author.show_on_post or page.comments %}
{% endif %}
